<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Sistema da Transportadora</a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-static-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/fretes">Frete</a>
            <a class="navbar-brand" href="/clientes">Cliente</a>
            <a class="navbar-brand" href="/cidades">Cidade</a>
        </div>
    </div>
</nav>
    
</html>